fastapi==0.115.4
uvicorn[standard]==0.32.0
docker==7.1.0
pydantic[email]==2.9.2
pydantic-settings==2.6.1
python-multipart==0.0.12
pyyaml==6.0.2
apscheduler==3.10.4
cron-descriptor==1.4.5
tzdata==2024.2
